body {
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
  } 
  
.container-card-charts {
    position: relative;
    width: 300px;
    height: 300px;
    background: linear-gradient(
      to top,
      rgba(255, 255, 255),
      rgba(255, 255, 255, 0.1)
    );
    border-radius: 32px;
    padding: 1.6px;
    box-shadow: 0 0px 80px -10px rgba(255, 255, 255, 0.15);
  }
  .container-card-charts::before {
    position: absolute;
    content: "";
    bottom: -40px;
    left: 50%;
    transform: translateX(-50%);
    width: 80px;
    height: 80px;
    background-color: #777777;
    z-index: -10;
    filter: blur(70px);
  }
  .card-charts {
    width: 100%;
    height: 100%;
    background: radial-gradient(ellipse at center, #1b1b1b, #000000);
    border-radius: 32px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
  }
  .charts-lines {
    position: relative;
    width: 100%;
    height: 100%;
  }
  .charts-lines i {
    position: absolute;
    inset: 0;
    display: flex;
    width: 100%;
    height: 100%;
  }
  .lines {
    position: absolute;
    inset: 0;
    display: flex;
    justify-content: space-between;
  }
  .lines span {
    width: 1.5px;
    height: 100%;
    margin: 0 18px;
    background: linear-gradient(
      to top,
      rgba(255, 255, 255, 0) 0%,
      rgba(255, 255, 255, 0.025) 50%,
      rgba(255, 255, 255, 0) 100%
    );
  }
  .tags-card {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
  }
  .tags-card .radio {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    border-radius: 12px;
    color: #a7a7a7;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    font-size: 8px;
    font-weight: 600;
    cursor: pointer;
  }
  .tags-card .radio:hover {
    color: #ffffff;
  }
  .tags-card .radio input {
    display: none;
  }
  
  .tags-card .radio .name {
    width: 100%;
    padding: 6px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 12px;
    z-index: 1;
  }
  
  .tags-card .radio input:checked + .name {
    color: #ffffff;
    background: linear-gradient(15deg, #898989, #181818, #000000);
    transform: scale(1.1);
  }
  
  .tags-card .radio input:checked + .name::before {
    position: absolute;
    background-color: #212121;
    content: "";
    inset: 1px;
    z-index: -1;
    border-radius: 12px;
  }
  
  .main-texts {
    display: flex;
    flex-direction: column;
    padding: 0 20px;
    font-weight: 500;
  }
  .main-texts .title {
    background-image: linear-gradient(to top left, #92400e, #f9d86d, #a6a6a6);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
  }
  .main-texts .change {
    background-image: linear-gradient(to right, #8e1414, #ffffff, #ffffff);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
  }
  .charts-lines path {
    opacity: 0;
  }
  .card-charts svg {
    transition: transform 0.5s ease;
  }
  .card-charts:hover svg {
    transform: scale(1.5);
  }
  .icon-week path {
    animation: draw 8s ease infinite;
  }
  .icon-month path {
    animation: draw 8s 3s ease infinite;
  }
  
  @keyframes draw {
    0% {
      stroke-dashoffset: 1500;
      opacity: 0.8;
    }
    50% {
      stroke-dashoffset: 0;
    }
    100% {
      stroke-dashoffset: -1500;
      opacity: 0.8;
    }
  }
  