body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: black;
    margin: 0;
}

.card {
    width: 100%;
    max-width: 300px;
    height: 50px;
    background: rgba(53, 53, 53, 0.8);
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    box-shadow: 0 8px 32px rgba(31, 38, 135, 0.37);
    border: 1px solid rgba(255, 255, 255, 0.18);
    transition: transform 0.5s ease-in-out;
}

.card:hover {
    cursor: pointer;
    transform: scale(1.05);
}

.img {
    width: 50px;
    height: 50px;
    border-radius: 10px;
    background-image: url('https://upload.wikimedia.org/wikipedia/commons/a/a5/Instagram_icon.png');
    background-size: cover;
    background-position: center;
}

.card:hover .img {
    filter: brightness(0.8); /* Darkens the logo on hover */
}


.textBox {
    flex: 1;
    margin-left: 15px;
    color: white;
    font-family: 'Poppins', sans-serif;
}

.textContent {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.h1 {
    font-size: 20px;
    font-weight: bold;
    margin: 0;
}

.p {
    font-size: 10px;
    font-weight: lighter;
    margin: 0;
}
