body {
    background-color: #212121;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
  }
  .inputbox {
    position: relative;
    width: 196px;
  }
  
  .inputbox input {
    position: relative;
    width: 100%;
    padding: 20px 10px 10px;
    background: transparent;
    outline: none;
    box-shadow: none;
    border: none;
    color: #45f3ff; /* Change input text color to make it more visible on dark background */
    font-size: 1em;
    letter-spacing: 0.05em;
    transition: 0.5s;
    z-index: 10;
  }
  
  .inputbox span {
    position: absolute;
    left: 0;
    top: -20px; /* Move the label upwards by default */
    padding: 0;
    font-size: 0.75em; /* Smaller font size */
    color: #8f8f8f;
    letter-spacing: 0.05em;
    transition: 0.5s;
    pointer-events: none;
  }
  
  .inputbox input:valid ~ span,
  .inputbox input:focus ~ span {
    color: #45f3ff;
    transform: translateX(0) translateY(0); /* Prevent further movement of the label on focus */
    font-size: 0.75em;
  }
  
  .inputbox i {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    background: #45f3ff;
    border-radius: 4px;
    transition: 0.5s;
    pointer-events: none;
    z-index: 9;
  }
  
  .inputbox input:valid ~ i,
  .inputbox input:focus ~ i {
    height: 44px;
  }
  